extends ../layouts/common
block nav
  include ../layouts/nav
block content
  a(href="/books/add" style="text-decoration: none;") Create a new Book
  h1 Books List
  form(action="/books/search", method="GET", class="d-flex")
    input(type="text", name="q", class="form-control mr-sm-2" placeholder="Search")
    button.btn.btn-primary Search
  table.table
    thead.thead-light
      tr
        th(scope='col') Cover
        th(scope='col') Title
        th(scope='col') Description
        th.text-center(colspan="2") Action
    tbody
      each book in books
        tr
          td
            if book.coverUrl
              img.border.border-secondary.rounded-circle.mr-2(src= book.coverUrl width="32" height="32")
            else
              img.border.border-secondary.rounded-circle.mr-2(src="https://res.cloudinary.com/dgp8yjtbi/image/upload/v1604846973/tl4dmqn8fbbcreimjtn3.jpg" width="32" height="32")
          td=book.title
          td=book.description
          td
            a(href="/books/" + book.id + "/update" style="text-decoration: none; color:#269b92") Update
          td
            a(href="/books/" + book.id + "/delete" style="text-decoration: none;") Delete
            
  a(href="/" style='text-decoration: none;') Back

      