nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/')
      img(src="https://cdn.glitch.com/375cd5ac-f9b9-440e-85ea-d48ffee0397d%2FLogobook.png?v=1589900836005", style="width: 2rem;")
    a.navbar-brand(href='/') Books App
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/books/see') Books
        li.nav-item
          a.nav-link(href='/users/seeUser') User
        li.nav-item
          a.nav-link(href='/transaction/seeTransaction') Transactions
        li.nav-item
          a.nav-link(href='/cart/') Cart
      ul.navbar-nav.ml-auto
        li
          if user
            img.border.border-secondary.rounded-circle(src=user.avatarUrl, alt='avatar', width='32')
        li.nav-item.dropdown
          if user
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= user.name
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='/profile/' + user.id) Profile
              a.dropdown-item(href='/transfer/create') Transfer
              a.dropdown-item(href='#') Logout
      
          
      