extends ./layouts/common
block nav
  include ./layouts/nav
block content
  .container
    .row
      .col.m-auto
        img(src="https://res.cloudinary.com/dgp8yjtbi/image/upload/v1606458870/3819287_dieqiz.jpg", style="width: 35rem; display: block; margin-left: auto; margin-right: auto;")