extends ../layouts/common
block nav
  include ../layouts/nav
block content
  a(href="/transaction/create" style="text-decoration: none;") Create a new Transaction
  h1.py-3 Transactions List
  form(action="/transaction/search", method="GET", class="d-flex")
    input(type="text", name="q", class="form-control mr-sm-2" placeholder="Search")
    button.btn.btn-primary Search
  table.table
    thead.thead-light
      tr
        th(scope="col") Content
        th(scope="col") Status
        th(scope="col")
    tbody
    each transaction in transactions 
      tr
        td=transaction.content
        td
          if !transaction.isComplete
            a(href=`/transaction/${transaction.id}/complete` style="text-decoration: none;") Complete
          else
            span(style="color: #269b92") Completed
        td
          a.ml-4(href=`/transaction/${transaction.id}/delete`)
            svg.bi.bi-trash(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
              path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
              path(fill-rule='evenodd', d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
  a(href="/" style="text-decoration: none;") Back
